:host {
    .red {
        color: red;
    }

    h1 {
        text-align: center;
        font-weight: 300;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 50px;
    }

    a {
        text-decoration: none;
    }

    a:visited {
        color: black;
    }

    h2 {
        text-align: center;
        font-weight: 300;
        font-size: 18px;
        margin-top: 0;
    }

    mat-tab-group {
        border: 2px dotted lightgrey;
    }

    .reset-button{
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}
