.red {
    color: red;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-top: 0;
}

hr {
    border-color: lightgray;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.source_label mat-icon {
    font-size: 25px;
    padding-right: 10px;
}

mat-icon.color_success { 
    color: #4CAF50;
}

mat-icon.color_warning {
    color: #ff9800;
}

mat-icon.color_error {
    color: #f44336;
}

.mat-tooltip {
    white-space: pre-line;
}

::ng-deep .mat-tooltip {
    white-space: pre-line;
}

.button_resolve {
    position: absolute;
    right: 0px;
    bottom: 8px;
}
