<div fxLayout="column" fxLayoutAlign="start stretch">
    <!--  Header  -->
    <a href="https://www.fernuni-hagen.de/ilovepetrinets/"
        ><h1>I <span class="red">❤</span> Petri Nets</h1></a
    >
    <h2>
        <span class="red">❤</span> ...and Partial Languages
        <span class="red">❤</span>
    </h2>

    <!--    Main content    -->
    <mat-tab-group
        (selectedIndexChange)="updateTabIndex($event)"
        animationDuration="0ms"
    >
        <mat-tab id="separate" label="Current Run">
            <app-display class="padding full-size"></app-display>
            <button (click)="resetSvgPositioning()" class="reset-button">
                Reset
            </button>
        </mat-tab>
        <mat-tab id="merged" label="Prime-Event-Structure">
            <app-color></app-color>
            <app-display-merged-run
                class="padding full-size"
                [resetEvent]="resetPositioningInMergeViewSubject.asObservable()"
            ></app-display-merged-run>
            <button
                (click)="resetPositioningInMergeView()"
                class="reset-button"
            >
                Reset
            </button>
        </mat-tab>
    </mat-tab-group>

    <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <app-template-button
            buttonText="Upload"
            buttonIcon="upload"
            (buttonAction)="openFileSelector()"
            (dropAction)="dropFiles($event)"
        ></app-template-button>

        <app-source-file-textarea
            [resetEvent]="resetPositioningSubject.asObservable()"
        ></app-source-file-textarea>

        <app-download
            [contentToDownload]="selectedDataToDownload"
        ></app-download>
    </div>

    <app-footer></app-footer>
</div>
