<div fxLayout="column" fxLayoutAlign="start stretch">
    <!--  Header  -->
    <a href="https://www.fernuni-hagen.de/ilovepetrinets/"
        ><h1>I <span class="red">❤</span> Petri Nets</h1></a
    >
    <h2>Partial language</h2>

    <!--    Main content    -->
    <mat-tab-group>
        <mat-tab label="Separate Runs">
            <app-display class="padding full-size"></app-display>
            <button (click)="emitEventToChild()" class="reset-button">
                Reset
            </button>
        </mat-tab>
        <mat-tab label="Merged Runs">
            <app-color></app-color>
            <app-display-merged-run
                class="padding full-size"
            ></app-display-merged-run>
        </mat-tab>
    </mat-tab-group>

    <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <app-template-button
            buttonText="Upload"
            buttonIcon="upload"
            (buttonAction)="openFileSelector()"
            (dropAction)="dropFiles($event)"
        ></app-template-button>

        <app-source-file-textarea
            [resetEvent]="eventSubject.asObservable()"
        ></app-source-file-textarea>

        <app-download></app-download>
    </div>

    <app-footer></app-footer>
</div>
