<h1 mat-dialog-title>
    Download
    <ng-container *ngIf="data.contentToDownload === 'mergeRuns'"
        >Prime-Event-Structure</ng-container
    >
    <ng-container *ngIf="data.contentToDownload === 'separateRuns'"
        >Run(s)</ng-container
    >
</h1>

<div class="content" mat-dialog-content>
    <mat-form-field appearance="outline" class="textarea">
        <mat-label class="input-label">
            <span>Name</span>
        </mat-label>

        <input matInput [(ngModel)]="downloadName" />
    </mat-form-field>

    <mat-radio-group
        *ngIf="data.contentToDownload === 'separateRuns'"
        color="primary"
        aria-label="Select an option"
        [(ngModel)]="currentDownloadSelection"
    >
        <mat-radio-button value="current"> Only current run </mat-radio-button>
        <mat-radio-button value="all" checked>All runs</mat-radio-button>
    </mat-radio-group>

    <mat-label id="format-radio-group-label">File format</mat-label>
    <mat-radio-group
        color="primary"
        [(ngModel)]="fileFormat"
        aria-labelledby="format-radio-group-label"
    >
        <mat-radio-button value="run">PS</mat-radio-button>
        <mat-radio-button value="pnml">PNML</mat-radio-button>
    </mat-radio-group>

    <mat-label
        *ngIf="currentDownloadSelection === 'all'"
        id="format-radio-group-label"
        >Compression</mat-label
    >
    <mat-checkbox
        *ngIf="currentDownloadSelection === 'all'"
        color="primary"
        [(ngModel)]="compression"
        aria-labelledby="format-radio-group-label"
    >
        Download as ZIP</mat-checkbox
    >

    <div class="buttons"></div>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="closePopover()">Cancel</button>
    <button mat-button (click)="download()">Save</button>
</div>
