:host{
    width: 350px;

    .download-field{
        margin-top: 40px;
    }

    .radio-button, .input-field, .buttons {
        margin: 10px 20px;
    }
    
    .btn{
        margin-right: 10px;
    }

    input[type=radio], input[type=text] {
        margin-left: 10px;
    }
        
    
}

