/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

html { height: 100%; }
body {
    margin: 0;
    padding: 50px;
    font-family: "Courier New", sans-serif;
}

svg text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg text{
    text-anchor: middle;
}

:root {
    --success-color: #4CAF50;
    --warn-color: #ff9800;
    --error-color: #f44336;

    --spaces: 8px;
}

.mat-tooltip {
    white-space: pre-line;
}

.move-helper {
    fill-opacity: 0;
    position: relative;
    z-index: 10;
    &:hover {
        fill-opacity: 0.5;
        transition: fill-opacity .25s ease-out;
    }
}
mat-tab-group {
    .mat-tab-header {
        border: 0;
    }

    .mat-tab-label-container .mat-tab-label {
        width: 50%;
    }
}
